.THIS .slds-card {
    width: 125%;
    margin-top: -100px;
}
.THIS slds-col.slds-size_3-of-4.abc{
    line-height: 32px;
}
.THIS button.slds-button.slds-button_brand.hello{
    width: 289px;
    height: 45px;
    margin-top: 12px;}

.THIS   input#input-1 {
    width: 289px;
    height: 45px;
}
.THIS input#input-2 {
    width: 289px;
    height: 45px;
}

.THIS slds-size_12-of-12.slds-size--12-of-12 {
    width: 100%;
    margin-top: 28px;
}
.THIS slds-form-element.slds-align_left.slds-m-horizontal_xx-large {
    margin-right: 81px;
    margin-left: 140px;
}

.THIS button.slds-button.forget {
    margin-left: 64px;
    margin-top: 20px;
}